@import "../../global.scss";

.menu {
  width: 20vw;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -23vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
  @include mobile {
    width: 60vw;
    right: -60vw;
  }
  &.active {
    right: 0;
    @include mobile {
      right: 0;
    }
  }
  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    color: #fffcff;
    width: 60%;
    li {
      margin-bottom: 40px;
      height: 30px;
      a {
        // font-size: inherit;
        color: #fffcff;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        @include mobile {
          font-size: 0.8rem;
        }
      }
    }
  }
}
