@import "../../global.scss";

.menu {
  width: 20vw;
  height: 100vh;
  background-color: $blue;
  position: fixed;
  top: 0;
  right: -23vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
  @include mobile {
    width: 25vw;
    right: -60vw;
  }

  &.active {
    right: 0;
    @include mobile {
      right: 0;
    }
  }
  .card {
    width: 100%;
    .box {
      width: 2rem;
      height: 2rem;
      background: linear-gradient($red, $green);
      border-radius: 50%;
      position: absolute;
      border: none;
      bottom: 10%;
      right: 9%;
      z-index: -1;
      animation: jump 25s infinite ease;

      @keyframes jump {
        0% {
          bottom: 10%;
        }
        50% {
          bottom: 25%;
          right: 25%;
          filter: hue-rotate(300deg) brightness(110%);
        }
        75% {
          bottom: 7%;
          right: 37%;
        }
        100% {
          bottom: 10%;
          right: 9%;
        }
      }
    }
  }
  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: 2rem;
    position: relative;

    li {
      margin-bottom: 40px;
      height: 30px;
      a {
        color: $white;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        @include mobile {
          font-size: 0.8rem;
        }
      }
    }
  }
}
