@import "../../global.scss";

.topbar {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: $mainColor;
  color: $txtColor;
  position: fixed;
  top: 0;
  transition: all 1s ease-in;
  z-index: 3;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      img {
        height: 30px;
      }
      .logo {
        text-decoration: none;
        width: 100px;
        // color: inherit;
        // filter: invert(100%) saturate(100%);
        margin-right: 40px;
      }
      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;
        @include mobile {
          display: none;
        }
      }
    }
    .right {
      .hamburger {
        width: 32px;
        height: 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
          width: 100%;
          height: 3px;
          border-radius: 5px;
          background-color: $txtColor;
          transform-origin: center;
          transition: all 2s ease-in-out;
        }
      }
    }
  }
  &.active {
    background-color: $mainColor;
    color: $txtColor;
    .itemContainer {
      i {
        color: $txtColor;
      }
    }

    .hamburger {
      span {
        &:first-child {
          background-color: $txtColor;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: $txtColor;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
