@import "../../global.scss";
.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    // justify-content: space-evenly;
  }

  h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 8rem;
    color: $mainColor;
    @include mobile {
      font-size: 20px;
      margin-bottom: 4rem;
    }
  }
  ul {
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    display: flex;
    @include mobile {
      flex-wrap: wrap;
      margin: 5px 0;
      padding: 10px;
      height: 80px;
      justify-content: center;
    }
    @include middle {
      margin: 0;
    }
  }
  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
      width: 100%;
      margin-top: -2rem;
    }

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid #01497c58;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease-in;
      cursor: pointer;
      @include mobile {
        width: 35vw;
        height: 23vh;
        margin: 10px;
      }
      h3 {
        position: absolute;
        font-size: 18px;
        font-weight: 300;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        @include mobile {
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        background-color: $bckMain;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
