@import "../../global.scss";
.portfolio {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @include mobile {
    // justify-content: space-evenly;
  }
  h1 {
    font-weight: 300;
    margin-bottom: 5rem;
    color: $white;
    @include mobile {
      font-size: 20px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      opacity: 0;
    }
  }
  .scroll {
    display: none;
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 25%;
      position: absolute;
      top: 15%;
      right: 5%;
      h4 {
        color: $white;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
  .snake,
  .snake1,
  .play {
    position: absolute;
  }
  .snake {
    bottom: 10%;
    left: 5%;
    width: 4em;
  }
  .play {
    bottom: 5%;
    right: 5%;
    width: 7em;
    border: yellow 1px solid;
    border-radius: 5px;
  }
  .snake1 {
    top: 10%;
    right: 5%;
    width: 4em;
    @include mobile {
      display: none;
    }
  }
  .container {
    background-color: $white;
    width: 70%;
    // height: 60%;
    border-radius: 5px;
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    @include mobile {
      width: 95%;
    }
    .first {
      display: inline-block;
      width: 90%;
      padding: 1rem;
      margin: 1rem;
      @include mobile {
        width: 100%;
        margin: 0;
      }
      .second {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20rem;

        .text {
          border: 1px solid black;
          border-radius: 5px;
          height: 100%;
          width: 50%;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          @include mobile {
            width: 120%;
          }
          .head {
            display: flex;
            align-items: flex-start;
            min-width: 30%;
            h2 {
              color: $blue;
            }
            img {
              width: 1.7rem;
              margin-right: 0.5em;
            }
          }
          .desc {
            p {
              width: 20rem;
              margin-top: 0.5em;
              min-height: 10rem;
              white-space: pre-wrap;
              line-height: 2rem;
              color: black;
              @include mobile {
                width: 100%;
                line-height: 1.3rem;
              }
            }
          }

          .btn {
            padding-top: 1em;
            a {
              button {
                background-color: $red;
                color: $white;
                font-size: 1rem;
                border-radius: 5px;
                padding: 0.6em 1em;
                margin-right: 1em;
                border: none;
                transition: all 0.4s ease;
                cursor: pointer;
                &:hover {
                  background-color: black;
                  color: $white;
                }
              }
            }
          }
        }
        .pic {
          height: 100%;
          border: 1px dashed black;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          @include mobile {
            display: none;
            border: none;
          }
          img {
            width: 20rem;
            height: 17rem;
            object-fit: cover;
            transition: all 1s ease;
            filter: drop-shadow(7px 7px 4px $red) brightness(110%);
            &:hover {
              transform: rotate(2deg);
            }
            @include mobile {
              width: 100%;
              height: 50%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  .bottomBox {
    // background-color: black;
    width: 100%;
    height: 20%;
  }
}
