@import "../../global.scss";
.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    // justify-content: space-evenly;
  }

  h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 4rem;
    color: $mainColor;
    @include mobile {
      font-size: 20px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  ul {
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    display: flex;
    @include mobile {
      flex-wrap: wrap;
      margin: 5px 0;
      padding: 10px;
      height: 80px;
      justify-content: center;
    }
    @include middle {
      margin: 0;
    }
  }
  .container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
      // width: 200vw;
      width: 100%;
      // margin-top: -2rem;
      // flex-wrap: nowrap;
      overflow: auto;
      display: flex;
    }
    .item {
      width: 20vw;
      // min-height: 50vh;
      max-height: 60vh;
      border-radius: 20px;
      border: 1px solid #01497c58;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      color: $mainColor;
      position: relative;
      transition: all 0.5s ease-in;

      a {
        img {
          width: 20vw;
          height: 20vh;
          object-fit: cover;
          z-index: 1;
          cursor: pointer;
          // &:hover {
          //   background-color: $bckMain;
          //   img {
          //     opacity: 0.2;
          //     z-index: 0;
          //   }
          // }
          @include mobile {
            width: 100vw;
            height: 20vh;
            object-fit: cover;
            // overflow: hidden;
          }
        }
      }
      .wrapper {
        text-align: left;
        width: 100%;
        min-height: 10vh;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        line-height: 1.7;
        h3 {
          // position: absolute;
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 0.5rem;
        }
        span,
        p {
          font-weight: 300;
        }
        a {
          font-weight: 300;
          padding-right: 0.5rem;
          color: $mainColor;
        }
      }
      @include mobile {
        width: 70vw;
        height: 50vh;
        margin: 10px;
        // overflow: auto;
      }
    }
  }
}
