@import "../../global.scss";
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
  background: url("https://source.unsplash.com/WLUHO9A_xik/2000x900") no-repeat;
  background-color: $bckMain;
  background-blend-mode: multiply;
  .parallax {
    width: 60vw;
    height: 65vh;
    position: absolute;
    top: 20rem;
    border-radius: 2px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    // background-color: $txtColor;
  }
  .container {
    width: 49vw;
    height: 70vh;
    text-align: left;
    margin-top: 20px;
    padding: 15px;
    overflow: scroll;
    color: #fffcff;
    // color: $textColor;
    font-weight: 400;

    border-radius: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 400px;
    justify-content: center;
    h4 {
      color: red;
      left: 10rem;
      position: absolute;
    }
    @include mobile {
      width: 100%;
      overflow: scroll;
      min-height: 100px;
      margin: 0;
      padding: 0;
      border-radius: 0;
    }
    p {
      line-height: 2.2;
      text-align: justify;
      // padding: 30px;
      overflow: auto;
      letter-spacing: 0.5px;
      // min-height: 40vh;

      @include mobile {
        line-height: 1.5;
        // padding-top: 10px;
        margin: 5px;
        padding: 10px;
        // height: 100%;
      }
    }
  }
}
