@import "../../global.scss";
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: $white;
  // background-blend-mode: multiply;
  @include mobile {
    justify-content: flex-start;
    padding-top: 3rem;
  }
  .long,
  .long1,
  .short,
  .short1,
  .snake {
    position: absolute;
    transition: all 1s ease-out;
  }
  .long,
  .short,
  .snake {
    top: 10%;
  }
  .short,
  .short1,
  .snake {
    display: none;
  }
  .short1,
  .long1 {
    bottom: 10%;
  }
  .me {
    position: absolute;
    top: 0;
    z-index: 10;
    font-weight: 300;
    // font-size: 50px;
    color: black;
    @include mobile {
      font-size: 20px;
      top: 1rem;
    }
  }
  .parallax {
    width: 63vw;
    height: 65vh;
    position: absolute;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid $red;
    transition: all 1s ease-out;
    @include mobile {
      width: 80vw;
      min-height: 80%;
    }
  }
  .container {
    width: 55vw;
    text-align: left;
    margin-top: 20px;
    padding: 1rem;
    overflow: scroll;
    color: black;

    font-weight: 300;
    transition: all 1s ease-out;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include mobile {
      width: 70vw;
      // overflow: scroll;
      height: 80%;
      margin: 0;
      padding: 0;
      border-radius: 0;
    }
    a {
      width: 100%;
      text-align: right;
      button {
        padding: 0.7em 1em;
        border: none;
        background-color: $green;
        color: $blue;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
    p {
      line-height: 2.2;
      text-align: justify;
      overflow: auto;
      letter-spacing: 0.5px;

      @include mobile {
        line-height: 1.6;
        margin: 5px;
        font-size: 14px;
        padding: 10px;
      }
    }
  }
}
