@import "../../global.scss";
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
  background: url("https://source.unsplash.com/WLUHO9A_xik/2000x1000") center
    center no-repeat;
  overflow: hidden;
  background-color: $bckMain;
  background-blend-mode: multiply;
  .me {
    position: absolute;
    top: 0;
    z-index: 10;
    font-weight: 300;
    font-size: 50px;
    color: white;
    @include mobile {
      font-size: 20px;
      top: 1rem;
    }
  }
  .parallax {
    width: 63vw;
    height: 75vh;
    position: absolute;
    border-radius: 2px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 1s ease-out;
    @include mobile {
      width: 80vw;
      // height: 20vh;
    }
    @include middle {
      width: 90vw;
      height: 80vh;
      overflow: hidden;
    }
  }
  .container {
    width: 55vw;
    text-align: left;
    margin-top: 20px;
    padding: 15px;
    overflow: scroll;
    color: #fffcff;

    font-weight: 300;
    transition: all 1s ease-out;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      width: 70vw;
      // overflow: scroll;
      height: 80%;
      margin: 0;
      padding: 0;
      border-radius: 0;
    }
    @include middle {
      width: 90vw;
      height: 90vh;
      // padding: 1rem;
      overflow: hidden;
    }
    p {
      line-height: 2.2;
      text-align: justify;
      overflow: auto;
      letter-spacing: 0.5px;

      @include mobile {
        line-height: 1.6;
        margin: 5px;
        font-size: 14px;
        padding: 10px;
      }
      @include middle {
        line-height: 1.3;
        font-size: 1rem;
        font-weight: 300;
        // padding: 0;
      }
    }
  }
}
