@import "../../global.scss";

li {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  color: $mainColor;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  @include mobile {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    overflow: hidden;
  }
  @include middle {
    font-size: 14px;
    height: 20px;
    overflow: hidden;
  }

  &.active {
    background: $textColor;
    color: #fffcff;
  }
}
