@import "../../global.scss";

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: $green;
  position: relative;
  @include mobile {
    // flex-direction: column;
    justify-content: flex-start;
  }
  h1 {
    // position: absolute;
    top: 0;
    color: black;
    font-weight: 300;
    // font-size: 50px;
    // @include middle {
    //   font-size: 1.3rem;
    // }
    @include mobile {
      font-size: 20px;
      margin-top: 1rem;
    }
  }
  .snake {
    position: absolute;
    top: 10%;
    right: 10%;
    // transition: all 1s ease-in-out;
    animation: snak 30s infinite ease-in-out;
    @keyframes snak {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  .plus,
  .plus1,
  .plus2 {
    position: absolute;
    bottom: 10%;
    animation: plus 10s infinite ease-in;
    @keyframes plus {
      from {
        transform: rotateZ(0);
      }
      to {
        transform: rotateZ(360deg);
      }
    }
  }
  .plus {
    left: 10%;
  }
  .plus1 {
    left: 13%;
  }
  .plus2 {
    left: 16%;
  }
  .common {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    width: 100%;
    position: relative;
    @include mobile {
      flex-direction: column;
      justify-content: space-evenly;
      height: 55vh;
      gap: 1.5rem;
    }
    .square,
    .square1 {
      position: absolute;
    }
    .square {
      top: 3%;
      left: 5%;
    }
    .square1 {
      bottom: 3%;
      right: 3%;
    }
    .one,
    .two,
    .three {
      background-color: $white;
      width: 30rem;
      height: 8rem;
      padding: 1em;
      position: absolute;
      border-radius: 5px;
    }
    .one {
      top: 10%;
      left: 10%;
      h3 {
        color: $red;
      }
      p {
        line-height: 1.4em;
        color: black;
      }
    }
    .two {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        display: flex;
        align-items: center;
        gap: 0.4em;
        span {
          color: black;
        }
      }
      .links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 30%;
        padding-top: 1em;
        h3 {
          a {
            i {
              color: $red;
              font-size: 2rem;
              transition: all 0.5s ease-in-out;
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
    }
    .three {
      bottom: 10%;
      right: 10%;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: black;
      }
    }
  }
}
