@import "../../global.scss";
.works {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 2s ease-out;

  h1 {
    position: absolute;
    top: 0;
    font-weight: 300;
    font-size: 50px;
    color: $textColor;
    @include mobile {
      font-size: 20px;
      top: 35px;
    }
  }

  .p1 {
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    transition: all 6s ease-in 1s;
  }
  .p2 {
    position: absolute;
    top: 3rem;
    left: 10rem;
    transition: all 6s ease 2s;
  }
  .p3 {
    position: absolute;
    top: 6rem;
    left: 15.1rem;
    transition: all 6s ease-out 3s;
  }
  .p4 {
    position: absolute;
    top: 7rem;
    left: 5rem;
    transition: all 6s ease-out 4s;
  }
  .p5 {
    position: absolute;
    top: 11rem;
    left: 9rem;
    transition: all 6s ease-out 4s;
  }
  .p6 {
    position: absolute;
    top: 14rem;
    left: 3rem;
    transition: all 6s ease-out 5s;
  }
}
