@import "../../global.scss";

.intro {
  display: flex;
  background-color: $bckMain;
  flex-direction: column;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  @include middle {
    align-items: center;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    @include mobile {
      width: 90vw;
      height: 50vh;
    }
    @include middle {
      width: 90vw;
      height: 50vh;
    }
    p {
      color: $txtColor;
      letter-spacing: 2px;
      padding-top: 1rem;
      line-height: 1.7;
      @include mobile {
        letter-spacing: 1.3px;
      }
      @include middle {
        letter-spacing: 1.1px;
        font-size: 0.7rem;
      }
    }
    .span {
      font-weight: 400;
      color: $txtColor;
      margin-left: 48rem;
      @include mobile {
        margin-left: 36rem;
      }
      @include middle {
        margin-left: 11rem;
        font-size: 0.7rem;
      }
    }
    .top1 {
      display: flex;
      align-items: center;
      margin-top: 6rem;

      h3 {
        color: $txtColor;
        letter-spacing: 5px;
        font-weight: 300;
        font-size: 22px;
        span {
          color: $yellow;
        }
        @include mobile {
          letter-spacing: 1px;
          font-size: 18px;
        }
        @include middle {
          margin-top: 1rem;
          letter-spacing: 1.1px;
          font-size: 1rem;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    height: 20rem;
    justify-content: center;
    margin-top: 1rem;
    @include mobile {
      height: 20rem;
      width: 20rem;
    }
    @include middle {
      margin-top: -5rem;
    }
    img {
      width: 250px;

      animation: pulse 7s infinite;
      @include mobile {
        width: 11rem;
      }
    }
    @keyframes pulse {
      0% {
        filter: drop-shadow(0 0 0.4rem #468faf);
      }
      50% {
        filter: drop-shadow(0 0 0.8rem #a9d6e5);
      }
      100% {
        filter: drop-shadow(0 0 0.4rem #468faf);
      }
    }
  }
}
