@import "../../global.scss";

.intro {
  display: flex;
  background-image: url("../../img/introBack.svg");
  background-size: 100%;
  // transform: rotate(90deg);
  position: relative;
  inset: 0;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .left {
    position: relative;
    height: 100%;
    width: 70%;
    padding: 1em 2em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    .leftTop {
      width: 60%;
      height: 30%;
      padding: 1em;
      // background-color: lightblue;
      h1 {
        line-height: 1.7em;
        color: $white;
        font-size: 2.3rem;
        span {
          color: $green;
        }
      }
      p {
        color: $white;
        font-size: 1.1rem;
      }
    }
    .leftBottom {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1em;
      width: 70%;
      P {
        width: 40%;
        color: $white;
        margin-right: 3em;
        font-size: 1.1rem;
      }
    }
    .cloud {
      position: absolute;
      top: 0;
      left: 70%;
      filter: drop-shadow(7px 7px 3px $white);
    }
    .plus {
      position: absolute;
      width: 10%;
      top: 80%;
      left: 55%;
    }
    .dots {
      position: absolute;
      top: 90%;
      left: 7%;
      width: 60%;
    }
  }
  .center {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40%;
    top: 28%;
    left: 50%;

    .me {
      width: 50%;
      filter: drop-shadow(10px 10px $red) brightness(110%);
      border: 1px $green;
      border-style: solid;
    }
  }
  .right {
    position: relative;
    height: 100%;
    width: 30%;
    .plus1 {
      transform: rotate(90deg);
      position: absolute;
      width: 20%;
      top: 10%;
      left: -1%;
    }
    .dots1 {
      transform: rotate(90deg);
      position: absolute;
      top: 50%;
      left: 30%;
      width: 120%;
    }
    .star {
      position: absolute;
      top: 80%;
      left: 30%;
      animation: move 10s infinite ease-in-out;
      @keyframes move {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
