@import "../../global.scss";

.intro {
  display: flex;
  background-color: $bckMain;
  flex-direction: column;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    p {
      color: $txtColor;
      letter-spacing: 2px;
      padding-top: 1rem;
      line-height: 1.8;
    }
    .span {
      font-weight: 400;
      color: $txtColor;
      margin-left: 48rem;
    }
    .top1 {
      display: flex;
      align-items: center;
      margin-top: 6rem;

      h3 {
        color: $txtColor;
        letter-spacing: 5px;
        font-weight: 300;
        font-size: 22px;
        span {
          color: $yellow;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: center;
    margin-top: 1rem;
    img {
      width: 250px;
      // filter: drop-shadow(0 0 0.2rem #468faf);
      animation: pulse 7s infinite;
    }
    @keyframes pulse {
      0% {
        filter: drop-shadow(0 0 0.4rem #468faf);
      }
      50% {
        filter: drop-shadow(0 0 0.8rem #a9d6e5);
      }
      100% {
        filter: drop-shadow(0 0 0.4rem #468faf);
      }
    }
  }
}
