@import "./global.scss";
.app {
  height: 100vh;
  .sections {
    height: calc(100vh - 70px);
    width: 100%;
    background-color: $bckMain;
    position: relative;
    box-sizing: border-box;
    top: 70px;
    scroll-behavior: smooth;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
