// $mainColor: #15023a;
$mainColor: #013a63;
$bckMain: #012a4a;
$textColor: #01497c;
$txtColor: #a9d6e5;
$yellow: #ffff3f;
$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
